body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("../images/table.png");
    /* background-image: url("https://i.postimg.cc/k5ZR64mL/table.png"); */
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* Actions */
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 0.5em 0;
    font-weight: bold;
    border: none;
    border-radius: 0.2em;
    margin: 0.2em 0;
    cursor: pointer;
}